
  @import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');


a{
  color: black !important;
}
.brand-logo, h2{
  font-family: 'Grand Hotel', cursive;
}
.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
}
.mycard{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item{
  width: 30%;
}
.home-card{
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
}

#toast-container{
  top: 30px !important;
  right: 30px !important;
  left: auto !important;
}