
  @import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');


a{
  color: black !important;
}
.brand-logo, h2{
  font-family: 'Grand Hotel', cursive;
}
.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
}
.mycard{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.input-field input[type=text]:focus{
  border-bottom: 1px solid teal !important;
  box-shadow: 0 1px 0 0 teal !important;
}
.input-field input[type=password]:focus{
  border-bottom: 1px solid teal !important;
  box-shadow: 0 1px 0 0 teal !important;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .item:hover {
  cursor: pointer;
}
.home-card{
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
}

#toast-container{
  top: 30px !important;
  right: 30px !important;
  left: auto !important;
}